*.7z binary
*.bin binary
*.dll binary
*.dylib binary
*.exe binary
*.flp binary
*.gbf binary
*.gif binary
*.gz binary
*.ico binary
*.jpg binary
*.JPG binary
*.pdf binary
*.png binary
*.PNG binary
*.scr binary
*.so binary
*.tar binary
*.zip binary
